<nav class="nav mt-3">
  <div class="navbar-brand" routerLink="/home">
    <img src="../../../assets/img/logoh.svg" alt="" />
  </div>

  <div class="navbar-links ml-auto">
    <a class="nav-link active" aria-current="page" href="#" routerLink="/home">
      Home
    </a>
    <hr />
    <a
      class="nav-link active"
      aria-current="page"
      href="#"
      routerLink="/searchUser"
      >Search Users
    </a>
    <hr />
    <a
      class="nav-link active"
      aria-current="page"
      href="#"
      routerLink="/searchUserRepositories"
      >Search Repositories
    </a>
  </div>
</nav>
