<div class="container-fluid wrapper">
  <div class="logo">
    <img src="../../../assets/img/logov.svg" alt="logo" />
  </div>
  <form
    #searchForm="ngForm"
    (ngSubmit)="searchForm.form.valid && getUserData()"
    *ngIf="!isLoading"
  >
    <input
      type="text"
      class="searchInput"
      placeholder="Enter user name"
      [(ngModel)]="searchTerm"
      name="searchTerm"
    />
    <span class="error text-center" *ngIf="isError"
      >Please enter user name
    </span>
    <button class="btn searchBtn">Search</button>
  </form>

  <app-loader *ngIf="isLoading"></app-loader>
</div>
