<div class="container wrapper">
  <div class="error-wrapper">
    <div class="intro">
      Huston! we have a problem, <br />
      this one broke the internet <br />
      again
    </div>
    <div class="text-center">
      <div class="title">404</div>
      <div class="logo">
        <img src="../../../assets/img/logov.svg" alt="logo" />
      </div>
    </div>
  </div>

  <p class="text-center">
    The page you requested cant be found,navigate back to homepage by clicking
    <a href="" routerLink="/home">Here</a>
  </p>
</div>
