.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 160px;
}

.error-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.wrapper .logo img {
  height: 300px;
}

.intro {
  font-size: 50px;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 50px;
}
.title {
  font-size: 100px;
  color: white;
  font-weight: 600;
}

p {
  color: white;
  font-size: 20px;
}

a {
  color: red;
}
